<!-- views/partials/header.ejs -->

<nav class="container" role="navigation">
    <a href="/" class="contrast logo-container">
      <img src="/images/logo.png" width="45px" alt="Business Guide Logo" class="logo">
      <strong>Business Guide</strong>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  